*.iml
.gradle
/local.properties
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/libraries
/.idea/workspace.xml
.DS_Store
/app/release
/build
/captures
.externalNativeBuild
.idea/caches
google-services.json
